*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif */
}
.radios{
  font-family: sans-serif;
  background-color: #334fdf;
  color: white;
}

.container{
  height: 40em;
  width: 100%;    
  
}

h1{
height: 8em;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 

}
h2, h4{
  padding-left: 0.2em;
  margin-bottom: 1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.headline {
    position: absolute;
    top: 4em;
    width: 100%;
    backdrop-filter: blur(12px);
    background: rgba(white, 0.2);
    clip-path: url(#lockup-headline-mask-path);

    
  }

.headline2 {
  position: absolute;
  color: white;
  top: 8em;
  width: 100%;
  font-weight: 900;
  backdrop-filter: blur(12px);
  background: rgba(white, 0.2);
  clip-path: url(#lockup-headline-mask-path2);
  
}

.headline3 {
  position: absolute;
  color: white;
  top: 12em;
  width: 100%;
  font-weight: 900;
  backdrop-filter: blur(12px);
  background: rgba(white, 0.2);
  clip-path: url(#lockup-headline-mask-path3);

}
 
  